.flexlayout__layout {
  background: var(--color-bg-container) !important;
}

.flexlayout__row {
  overflow: visible;
}

.flexlayout__tab {
  background: var(--color-bg-container) !important;
  border: none !important;
}

.flexlayout__tabset {
  background: var(--ant-color-bg-container) !important;
  border: 1px solid var(--ant-color-border) !important;
  border-radius: var(--ant-border-radius) !important;
}

.flexlayout__tabset_container {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 6px 12px -6px,
    rgba(0, 0, 0, 0.1) 0px 6px 12px -6px;
}

.flexlayout__tabset_tabbar_outer {
  background: var(--color-bg-container) !important;
  border-bottom: 1px solid var(--color-border) !important;
}

.flexlayout__tabset-selected {
  background: var(--color-bg-container) !important;
  color: var(--ant-color-primary) !important;
}

.flexlayout__splitter {
  background-color: var(--color-border) !important;
}

.flexlayout__splitter:hover {
  background-color: var(--ant-color-text-heading) !important;
}

.flexlayout__tab_button {
  color: var(--ant-color-primary) !important;
}

.flexlayout__tab_button--selected {
  color: var(--ant-color-text-heading) !important;
  background: var(--color-bg-container) !important;
}

.flexlayout__tab_button:hover {
  color: var(--ant-color-text-heading) !important;
}

.flexlayout__popup_menu {
  background: var(--color-bg-container) !important;
  border: 1px solid var(--color-border) !important;
  box-shadow: var(--box-shadow) !important;
  color: var(--ant-color-primary) !important;
}

.flexlayout__popup_menu_item:hover {
  background: var(--color-bg-hover) !important;
  color: var(--ant-color-primary) !important;
}